@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Koulen', cursive;
    font-size: 1em;
}

body {
    background-color: darkgoldenrod;
}

#title {
    background-color: darkgoldenrod;
    display: block;
    text-align: center;
    font-size: 3em;
}

#calculator {
    background-color: darkgoldenrod;
    max-width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-between;
}

#calculate {
    height: 3em;
    width: 4em;
}

#home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



