@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Koulen', cursive;
    font-size: 1em;
}

body {
    background-color: gray;
}

input {
    border-radius: 9px;
    border: none;
    outline: none;
}

a {
    font-size: 1.2em;
    padding: 0px 5px;
}

#header {
    background-color: gainsboro;
    text-align: center;
}

#name {
    font-size: 3em;
}

#title {
    background-color: gainsboro;
    text-align: center;
    font-size: 3em;
}

#calculator {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-between;
    max-width: 400px;
    min-width: 320px;
    border-radius: 20px;
    padding: 20px 0px;
    margin: auto;
    margin-top: 1em;
}

#calculate {
    height: 2.2em;
    width: 4em;
}



